
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}


.App {
  text-align: center;
}


.App-header {

}

main {
  display: flex;
}

.counter {
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: 5px 5px 0 #fff, 10px 10px 0 rgba(0,0,0,0.2);
}


